<div class="navigation">
  <div id="logo"><img id="jQuery-logo" src="images/jquery-logo-vector-download.jpg" alt="jQuery-logo"></div>
  <div><p><a class="section" href="/index.html">Overview</a></p>
      <p><a href="/index.html#intro">What is jQuery</a></p>
      <p><a href="/index.html#reason">Why use jQuery</a></p>
  </div>
  <div><p><a class="section" href="/selectors.html">jQuery Selectors</a></p>
      <p><a href="/selectors.html#basic">Basic Selectors</a></p>
      <p><a href="/selectors.html#attribute">Attribute Selectors</a></p>
      <p><a href="/selectors.html#child">Child Selectors</a></p>
      <p><a href="/selectors.html#content">Content Selectors</a></p>
      <p><a href="/selectors.html#form">Form Selectors</a></p>
      <p><a href="/selectors.html#hierarchy">Hierarchy</a></p>
      <p><a href="/selectors.html#visibility">Visibility Selectors</a></p>
  </div>

  <div><p><a class="section" href="/traversal.html">jQuery Traversing</a></p>
      <p><a href="/traversal.html#ancestors">Ancestors</a></p>
      <p><a href="/traversal.html#descendants">Descendants</a></p>
      <p><a href="/traversal.html#siblings">Siblings</a></p>
      <p><a href="/traversal.html#filtering">Filtering</a></p>
      <p><a href="/traversal.html#iteration">Iteration</a></p>
  </div>
  <div><p><a class="section" href="/manipulation.html">HTML/CSS Manipulation</a></p>
      <p>HTML</p>
      <p>CSS</p>
  </div>
  <div><p><a class="section" href="/Event-and-Animation.html">Event and animation</a></p>
      <p>Event</p>
      <p>Animation</p>
</div>
  <div><p><a class="section" href="/ajax.html">Ajax</a></p>
      <p>Client-server model</p>
      <p>Ajax APIs</p>
</div>
  <div><p><a class="section" href="/plugin.html">Plugins</a></p>
  </div>

</div>
