<div class="navigation">
  <img id="jQuery-logo" src="/images/jquery-logo-vector-download.jpg" alt="jQuery-logo">
  <h1>Quick Start Guild</h1>
  <ol>
  <li><a href="/index.html">Overview</a>
    <ul>
      <li><a href="/index.html#intro">What is jQuery</li>
      <li><a href="/index.html#reason">Why use jQuery</li>
    </ul>
  </li>

  <li><a href="/selectors.html">jQuery Selectors</a>
    <ul>
      <li><a href="/selectors.html#basic">Basic Selectors</a></li>
      <li><a href="/selectors.html#attribute">Attribute Selectors</a></li>
      <li><a href="/selectors.html#child">Child Selectors</a></li>
      <li><a href="/selectors.html#content">Content Selectors</a></li>
      <li><a href="/selectors.html#form">Form Selectors</a></li>
      <li><a href="/selectors.html#hierarchy">Hierarchy</a></li>
      <li><a href="/selectors.html#visibility">Visibility Selectors</a></li>
    </ul>
  </li>

  <li><a href="/traversal.html">jQuery Traversing</a>
    <ul>
      <li><a href="/traversal.html#ancestors">Ancestors</a></li>
      <li><a href="/traversal.html#descendants">Descendants</a></li>
      <li><a href="/traversal.html#siblings">Siblings</a></li>
      <li><a href="/traversal.html#filtering">Filtering</a></li>
      <li><a href="/traversal.html#iteration">Iteration</a></li>
    </ul>
  </li>

  <li><a href="/manipulation.html">HTML/CSS Manipulation</a>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
    </ul>
  </li>

  <li><a href="/Event-and-Animation.html">Event and animation</a>
    <ul>
      <li>Event</li>
      <li>Animation</li>
    </ul>
  </li>

  <li><a href="/ajax.html">Ajax</a>
    <ul>
      <li>Client-server model</li>
      <li>Ajax APIs</li>
    </ul>
  </li>

  <li><a href="/plugin.html">Plugins</a>
  </li>
  </ol>

</div>
