<div class="navigation">
  <img id="jQuery-logo" src="/images/jquery-logo-vector-download.jpg" alt="jQuery-logo">
  <div><a href="/index.html">Overview</a>
      <p><a href="/index.html#intro">What is jQuery</li>
      <p><a href="/index.html#reason">Why use jQuery</li>
  </div>
  <div><a href="/selectors.html">jQuery Selectors</a>
      <p><a href="/selectors.html#basic">Basic Selectors</a></p>
      <p><a href="/selectors.html#attribute">Attribute Selectors</a></p>
      <p><a href="/selectors.html#child">Child Selectors</a></p>
      <p><a href="/selectors.html#content">Content Selectors</a></p>
      <p><a href="/selectors.html#form">Form Selectors</a></p>
      <p><a href="/selectors.html#hierarchy">Hierarchy</a></p>
      <p><a href="/selectors.html#visibility">Visibility Selectors</a></p>
  </div>

  <div><a href="/traversal.html">jQuery Traversing</a></div>
      <p><a href="/traversal.html#ancestors">Ancestors</a></p>
      <p><a href="/traversal.html#descendants">Descendants</a></p>
      <p><a href="/traversal.html#siblings">Siblings</a></p>
      <p><a href="/traversal.html#filtering">Filtering</a></p>
      <p><a href="/traversal.html#iteration">Iteration</a></p>
  </div>
  <div><a href="/manipulation.html">HTML/CSS Manipulation</a>
      <p>HTML</p>
      <p>CSS</p>
  </div>
  <div><a href="/Event-and-Animation.html">Event and animation</a>
      <p>Event</p>
      <p>Animation</p>
</div>
  <div><a href="/ajax.html">Ajax</a>
      <p>Client-server model</p>
      <p>Ajax APIs</p>
</div>
  <div><a href="/plugin.html">Plugins</a>
  </div>

</div>
