---
title: jQuery Event and Animation
---
# jQuery tutorial - Event and animation
<span id="event"></span>
## Event
### Define event
Event is **user's action** on a web page, which trigger interactive responses. Example: click on button
### Event Type
<table>
<thead>
<tr>
<th>Mouse</th>
<th>Keyboard</th>
<th>Form</th>
<th>Document/Window</th>
</tr>
</thead>
<tbody>
<tr>
<td>click</td>
<td>keypress</td>
<td>submit</td>
<td>load</td>
</tr>
<tr>
<td>dbclick</td>
<td>keydown</td>
<td>change (form content)</td>
<td>resize</td>
</tr>
<tr>
<td>mouseenter</td>
<td>keyup</td>
<td>focus</td>
<td>scroll</td>
</tr>
<tr>
<td>mouseleave</td>
<td></td>
<td>blur (loss focus)</td>
<td>unload</td>
</tr>
</tbody>
</table>
> reference from [w3schools](https://www.w3schools.com/Jquery/jquery_events.asp)

<span id="register"></span>
### Register Event Listener (Create response to events)
There are **three ways** to register event listener.
##### 1.Register single event listener:

```javascript
$("selector").eventName(function(){...});
```

<p data-height="411" data-theme-id="0" data-slug-hash="KBwEog" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="Register single event listener" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/KBwEog/">Register single event listener</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

##### 2. Register single event listener (Recommended):
```javascript
$("selector").on(eventName, function(){...});
```
<p data-height="346" data-theme-id="0" data-slug-hash="OwPYXQ" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="Register single event listener 2" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/OwPYXQ/">Register single event listener 2</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

##### 3. Register multiple event listener:

```javascript
$("selector").on({
eventName1: function(){...},
eventName2: function(){...},
eventName3: function(){...}
});
```

<p data-height="325" data-theme-id="0" data-slug-hash="qyEGRN" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="Register multiple event listener" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/qyEGRN/">Register multiple event listener</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

Note: Add parenthesis to eventName is optional


-------

## Animation

<span id="animation"></span>
### Generic Animation
Create animation to move and change the selected elements.

```javascript
$("selector").animate({parameters}, speed, callback);
```
<p data-height="355" data-theme-id="0" data-slug-hash="BPyemP" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="BPyemP" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/BPyemP/">BPyemP</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

Note:
	<ol>
		<li>{parameters} is a map of CSS for the element to move to.</li>
		<li>[optional] "speed" is a speed of animation , can be written in text or in millisecond</li>
	<table>
	<thead>
	<tr>
	<th>Text for speed</th>
	<th>Time (in ms)</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>N/A</td>
	<td>9999</td>
	</tr>
	<tr>
	<td>slow</td>
	<td>600</td>
	</tr>
	<tr>
	<td>normal (default)</td>
	<td>400</td>
	</tr>
	<tr>
	<td>fast</td>
	<td>200</td>
	</tr>
	<tr>
	<td>N/A</td>
	<td>1</td>
	</tr>
	</tbody>
	</table>
	<li>[optional] callback is a function to be called after the animation execute</li>
	<li>If more than one animation is called at the same time, or an animation is called before the previous animation ends, an animation **queue will hold all of them and execute one by one**. So, all animations will eventually be executed.</li>
</ol>

<h3>Stop the execution of animation</h3>
Stop an currently executing animation.

```javascript
$("selector").stop(stopAll, goToEnd);
```
<p data-height="417" data-theme-id="0" data-slug-hash="KBwLBj" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="KBwLBj" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/KBwLBj/">KBwLBj</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

Note:

1. stopAll: clear the animation queue
2. goToEnd: complete animation immediately

<span id="effect"></span>
### Animation Effect
##### show and hide
Change the CSS attribute "display" to block(show) or none(hide) if no speed specified.
Show and hide effect if speed specified.

```javascript
$("selector").show(speed, callback);
$("selector").hide(speed, callback);
```
<p data-height="392" data-theme-id="0" data-slug-hash="bjNyQz" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="show and hide" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/bjNyQz/">show and hide</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

##### Fade Effect
Change the CSS attribute "opacity" to 1(fadeIn) or 0(fadeOut) to create fading effect.

```javascript
$("selector").fadeIn(speed, callback);
$("selector").fadeOut(speed, callback);
//If current opacity is 1, then change it to 0; reverse-visa
$("selector").fadeToggle(speed, callback);
//Change opacity programmer defined value
$("selector").fadeTo(speed, opacity, callback);
```
<p data-height="493" data-theme-id="0" data-slug-hash="zLxQQo" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="zLxQQo" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/zLxQQo/">zLxQQo</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

##### Slide Effect
Change the CSS attributes "height","padding","margin" at the same time to create slide effect.

```javascript
$("selector").slideDown(speed, callback);
$("selector").slideUp(speed, callback);
$("selector").slideToggle(speed, callback); //If currently shown, then slideUp to hide; reverse-visa
```
<p data-height="463" data-theme-id="0" data-slug-hash="yqydBN" data-default-tab="html,result" data-user="mikelin2018" data-embed-version="2" data-pen-title="yqydBN" class="codepen">See the Pen <a href="https://codepen.io/mikelin2018/pen/yqydBN/">yqydBN</a> by Mike_Lin (<a href="https://codepen.io/mikelin2018">@mikelin2018</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<a class="previous" href="./manipulation.html"><span>   Previous</span></a>
<a class="next" href="./ajax.html"><span>Next  </span></a>
