---
title: Index
---
<!-- <h1>Quick Start Guild</h1>
1. [Overview](/overview.html)
 - What is jQuery
 - How to import jQuery Library
 - Why use jQuery
2. [jQuery Selector](/selectors.html)
  - Basic Selectors
  - Attribute Selectors
  - Child Selectors
  - Content Selectors
  - Form Selectors
  - Hierarchy
  - Visibility Selectors
3. [HTML Traversal](/traversal.html)
  - Ancestors
  - Descendants
  - Siblings
  - Filtering
  - Iteration
4. [HTML/CSS Manipulation](/manipulation.html)
  - HTML
  - CSS
5. [Event and animation](/animation.html)
  - Event
  - Animation
6. [Ajax](/ajax.html)
  - Client-server model
  - Ajax APIs
7. [Plugins](/plugin.html)
  - Example
8. [Javascript](/javascript.html)
  - Data type
  - Initiate variables
  - Functions -->
