---
title: jQuery Selector
---
<h1>jQuery Selectors</h1>
  - JQuery selectors allow you to select one or more HTML elements based on the tag names, ids, classes, attributes, etc. After selecting an element, you can manipulate it.
  - All selectors start with the dollar sign and parentheses: $().

<h2 id="basic">Basic Selectors</h2>
  - The element Selector
    - Selects all elements based on the elements tag name.
    - Syntax: write the element's tag name.

        ```javascript
          $("element")
        ```
    - Example: $("p") selects all \<p\> elements in the document

  - The #id Selector
    - An id is unique within a page so the id selector is used to find a single element with the specific id.
    - Syntax: write a hash character (#) followed by the value of the id attribute of the element.

        ```javascript
          $("#id")
        ```
    - Example: $("p#test-id") selects the \<p\> element that has an id "test-id".

  - The .class Selector
    - Selects all elements with a specific class.
    - Syntax: write a period character (.) followed by the name of the class.

        ```javascript
          $(".class")
        ```
    - Example: $("p.test-class") selects all \<p\> elements that have a class "test-class".

<p data-height="350" data-theme-id="0" data-slug-hash="ZjYONr" data-default-tab="html,result" data-user="ctz33" data-embed-version="2" data-pen-title="JQuery Basic Selectors" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/ZjYONr/">JQuery Tutorial</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  - For a complete reference of all the jQuery basic selectors, please go to our [jQuery Selectors Reference](/selector_reference.html#basic).


<h2 id="attribute">Attribute Selectors</h2>
  - Attribute selectors help select elements based on attribute's name and value.
  - The Has Attribute Selector [attribute]
    - Selects all elements that have specific attribute.
    - Syntax: write the attribute name inside of the square brackets([ ]).

        ```javascript
          $("[attribute]")
        ```
    - Example: $("[href]") selects all elements that have a href attribute.

  - The Attribute Equals Selector [attribute=value]
    - Selects all elements that have specific attribute with specific value.
    - Syntax: write the attribute name and its value inside of the square brackets([ ]) connecting by the equal sign(=).

        ```javascript
          $("[attribute=value]")
        ```
    - Example: $("[type='text']") selects elements that have a type attribute with value "text".

  - The Attribute Starts With Selector [attribute^=value]
    - Selects elements that have the specific attribute with a value starting with the specific value.
    - Syntax: write the attribute and its value inside of the square brackets([ ]) connecting by the caret(^) and the equal sign(=).

        ```javascript
          $("[attribute^=value]")
        ```
    - Example: $("[title^='Hi']") selects all elements that have a title attribute whose value is starting with "Hi".

<p data-height="350" data-theme-id="0" data-slug-hash="JBogeP" data-default-tab="js,result" data-user="ctz33" data-embed-version="2" data-pen-title="jQuery Attribute Selectors" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/JBogeP/">jQuery  Attribute Selectors</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  - For a complete reference of all the jQuery attribute selectors, please go to our [jQuery Selectors Reference](/selector_reference.html#attribute).


<h2 id="child">Child Selectors</h2>
  - Child selectors help select child elements of parent elements easily.
  - :first-child
    - Selects all elements that are the first child of their parent.
    - Syntax:

        ```javascript
          $(":first-child")
        ```
    - Example: $("p:first-child") selects all \<p\> elements that are the first child of their parent

  - :first-of-type
    -  Selects all elements that are the first child of a specific type of their parent.
    -  Syntax:

        ```javascript
          $(":first-of-type")
        ```
    - Example: $("p:first-of-type") selects all \<p\> elements that are the first \<p\> element of their parent

  - :nth-last-child(n)
    - Selects all elements that are the nth-child of their parent, counting from the last element(index = 1) to the first.
    - Syntax:

        ```javascript
          $(":nth-last-child(index/even/odd/equation)")
        ```
    - Example: $("p:nth-last-child(1)") selects all \<p\> elements that are the last child of their parent.

<p data-height="470" data-theme-id="0" data-slug-hash="MBwgoM" data-default-tab="html,result" data-user="ctz33" data-embed-version="2" data-pen-title="jQuery  Child Selectors" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/MBwgoM/">jQuery  Child Selectors</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  - For a complete reference of all the jQuery child selectors, please go to our [jQuery Selectors Reference](/selector_reference.html#child).


<h2 id="content">Content Selectors</h2>
  - Content selectors help select elements based on their contents.
  - :contains(text)
    - Selects all elements that contain specific text.
    - Syntax:

        ```javascript
          $(":contains(text)")
        ```
    - Example: $("p:contains(hello)") selects all \<p\> elements that contain "hello"

  - :empty
    - Selects all elements that have no children (including text).
    - Syntax:

        ```javascript
          $(":empty")
        ```
    - Example: $("td:empty") selects all empty \<td\> elements

  - :has(selector)
    - Selects elements which contain the element(s) that matches the specific selector.
    - Syntax:

        ```javascript
          $(":has(selector)")
        ```
    - Example: $("div:has(p)") selects all \<div\> elements that have \<p\> element(s) inside of them

  - :parent
    - Selects all elements that are the parent of another element (including text).
    - Syntax:

        ```javascript
          $(:parent)
        ```
    - Example: $(button:parent) selects all \<button\> elements that are the parent of another element.

<p data-height="350" data-theme-id="0" data-slug-hash="xJGKQg" data-default-tab="js,result" data-user="ctz33" data-embed-version="2" data-pen-title="jQuery  Content Selectors" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/xJGKQg/">jQuery  Content Selectors</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>


<h2 id="form">Form Selectors</h2>
  - Form selectors help select HTML form elements.
  - :button
    - Selects all button elements and elements of type button.
    - Syntax:

        ```javascript
          $(":button")
        ```
    - Example: $(.class-name:button) selects all input elements of type button whose class is "class-name".

  - :checked
    - Selects all elements that are checked.
    - Syntax:

        ```javascript
          $(":checked")
        ```
    - Example: $(".class-name:checked") selects all elements with class "class-name" that are checked.

  - :focus
    - Selects elements that are currently focused.
    - Syntax:

        ```javascript
        $(":focus")
        ```
    - Example: $(".class-name:focus") selects the element with class "class-name" that are currently focused.

<p data-height="350" data-theme-id="0" data-slug-hash="MBwWey" data-default-tab="html,result" data-user="ctz33" data-embed-version="2" data-pen-title="jQuery  Form Selectors" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/MBwWey/">jQuery  Form Selectors</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  - For a complete reference of all the jQuery form selectors, please go to our [jQuery Selectors Reference](/selector_reference.html#form).


<h2 id="hierarchy">Hierarchy</h2>
  - Hierarchy helps selects elements based on the hierarchy in the DOM tree.
  - An ancestor is a parent, grandparent, etc. A descendant is a child, grandchild, etc. Detailed explaination can be found in [jQuery Traversal](/traversal.html).
  - Descendant selector ("ancestor descendant")
    - Selects all elements that are descendants of a specific ancestor.
    - Syntax:

        ```javascript
        $("ancestor descendant")
        ```
    - Example: $("div p") selects all \<p\> elements that are descendants of \<div\> elements

  - Child selector ("parent > child")
    - Selects all direct child elements specified by "child" of elements specified by "parent".
    - Syntax:

        ```javascript
        $("parent > child")
        ```
    - Example: $("div > p") selects all \<p\> elements that are children of \<div\> elements

  - Next adjacent selector ("prev + next")
    - Selects all first "next" elements that follow right after the "prev" element.
    - Syntax:

        ```javascript
        $("prev + next")
        ```
    - Example: $("p + h2") selects all \<h2\> elements that are right after each \<p\> element

  - Next Siblings selector
    - Selects all "siblings" elements that follow after the "prev" element
    - Syntax:

        ```javascript
          $("prev ~ siblings")
        ```
    - Example: $("p ~ h3") selects all \<h3\> elements that are the following siblings of \<p\> elements

<p data-height="470" data-theme-id="0" data-slug-hash="oMXgLR" data-default-tab="html,result" data-user="ctz33" data-embed-version="2" data-pen-title="jQuery  Hierarchy" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/oMXgLR/">jQuery  Hierarchy</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>


<h2 id="visibility">Visibility Selectors</h2>
  - Visibility selectors help selects elements based on their visibility.
  - :hidden
    - Selects all elements that are hidden.
    - Syntax:

        ```javascript
          $("[selector]:hidden")
        ```
    - Example: $("button:hidden") selects all hidden buttons

  - :visible
    - Selects all elements that are visible.
    - Syntax:

        ```javascript
          $("[selector]:visible")
        ```
    - Example: $("button:visible") selects all visible buttons

<p data-height="350" data-theme-id="0" data-slug-hash="RBPNOo" data-default-tab="html,result" data-user="ctz33" data-embed-version="2" data-pen-title="jQuery  Visibility Selectors" class="codepen">See the Pen <a href="https://codepen.io/ctz33/pen/RBPNOo/">jQuery  Visibility Selectors</a> by ctz33 (<a href="https://codepen.io/ctz33">@ctz33</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
